node_modules
.env



# Node.js dependencies
node_modules/

# Hardhat files
/cache
/artifacts
hardhat.config.ts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat console logs and other local environment data
*.env
.env.local
.env.*.local

# TypeScript build outputs
dist/

# System files
.DS_Store

# Executables or build outputs (if any binaries are generated in the bin/ folder)
bin/

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
